<footer class="footer">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-members flow">
                <h2 class="text">UNCPM</h2>
                <p class="text-sm">
                    L'UNCPM défend les intérêts des planteurs et maraîchers du Mali avec des solutions innovantes et durables. Contactez-nous pour en savoir plus
                </p>
            </div>

            <div class="quick-links flow">
                <h2 class="text">Liens rapides</h2>
                <ul class="flow-sm">
                    <li><a href="/home" class="link text-sm">Accueil</a></li>
                    <li><a href="/about" class="link text-sm">A propos</a></li>
                    <li><a href="/#missions" class="link text-sm">Services</a></li>
                    <li><a href="/#contact" class="link text-sm">Contact</a></li>
                    <li><a href="/membership" class="link text-sm">Adhesion</a></li>
                </ul>
            </div>

            <div class="footer-adress flow">
                <h2 class="text">Adresse</h2>
                <ul class="address flow-sm">
                    <address class="text-sm">Centre commercial, Quartier du Fleuve</address>
                    <address class="text-sm">RUE 303, porte 360. BPE: 2483</address>
                </ul>
            </div>

            <div class="social-links flow-sm">
                <h2 class="text">Reseaux sociaux</h2>
                <div>
                    <a href="" class="text-md link bx bxl-whatsapp"></a>
                    <a href="" class="text-md link bx bxl-facebook"></a>
                    <a href="" class="text-md link bx bxl-messenger"></a>
                </div>
            </div>
        </div>
    </div>
</footer>