<footer class="footer" data-aos="fade-up" >
    <div class="container">
        <div class="footer-grid">
            <div class="footer-members flow">
                <h2 class="text">Nos Membres et Nos Partenaires</h2>
                <ul class="flow-sm">
                    <li class="text-sm">17 coopératives membres à travers le Mali</li>
                    <li class="text-sm">Plus de 14 000 adhérents</li>
                    <li class="text-sm">Partenariats avec des acteurs nationaux et internationaux</li>
                </ul>
            </div>

            <div class="quick-links flow">
                <h2 class="text">Liens rapides</h2>
                <ul class="flow-sm">
                    <li><a href="#" class="link text-sm">A propos</a></li>
                    <li><a href="#" class="link text-sm">Services</a></li>
                    <li><a href="#" class="link text-sm">Contact</a></li>
                </ul>
            </div>

            <div class="footer-adress flow">
                <h2 class="text">Adresse</h2>
                <ul class="address flow-sm">
                    <address class="text-sm">Centre commercial, Quartier du Fleuve</address>
                    <address class="text-sm">RUE 303, porte 360. BPE: 2483</address>
                </ul>
            </div>

            <div class="social-links flow-sm">
                <h2 class="text">Reseaux sociaux</h2>
                <div>
                    <a href="" class="text-md link bx bxl-whatsapp"></a>
                    <a href="" class="text-md link bx bxl-facebook"></a>
                    <a href="" class="text-md link bx bxl-messenger"></a>
                </div>
            </div>
        </div>
    </div>
</footer>