<footer class="footer">
    <div class="container flow-lg">
        <div class="footer-main flow-sm">
            <h2 class="text-md text-center">UNCPM</h2>
            <p class="text text-center">
                L'UNCPM défend les intérêts des planteurs et maraîchers du Mali avec des solutions innovantes et durables. Contactez-nous pour en savoir plus
            </p>
        </div>

        <div class="footer-grid">
            <div class="footer-menu flow">
                <h2 class="text-md">Menu</h2>
                <ul class="flow-sm">
                    <li><a href="/blog" class="link text">Blog</a></li>
                    <li><a href="/projects" class="link text">Projets</a></li>
                    <li><a href="/membership" class="link text">Devenir membre</a></li>
                </ul>
            </div>

            <div class="quick-links flow">
                <h2 class="text-md">Liens rapides</h2>
                <ul class="flow-sm">
                    <li><a href="/home" class="link text">Accueil</a></li>
                    <li><a href="/about" class="link text">A propos</a></li>
                    <li><a href="/#missions" class="link text">Missions</a></li>
                    <li><a href="/#contact" class="link text">Contact</a></li>
                </ul>
            </div>

            <div class="footer-adress flow">
                <h2 class="text-md">Adresse</h2>
                <ul class="address flow-sm">
                    <address class="text">Centre commercial, Quartier du Fleuve</address>
                    <address class="text">RUE 303, porte 360. BPE: 2483</address>
                </ul>
            </div>

            <div class="newsletter_social-footer-section flow">
                <div class="newsletter flow-sm">
                    <h2 class="text-md">Newsletter</h2>
                    <form action="" class="newsletter-form">
                        <input type="email">
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="bx bxs-send"></i>
                        </button>
                    </form>
                </div>
    
                <div class="social-links flow-sm">
                    <h2 class="text-md">Reseaux sociaux</h2>
                    <div>
                        <a href="" class="text-md link bx bxl-whatsapp"></a>
                        <a href="" class="text-md link bx bxl-facebook"></a>
                        <a href="" class="text-md link bx bxl-messenger"></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer-aside">
            <p class="copyright text-sm text-center">Copyright 2025 Stronger, All Right Reserved</p>
        </div>
    </div>
</footer>