
<section class="about-section">
    <div class="container">
        <div class="about-content flow">
            <h2 class="text-xl">A propos de nous</h2>
            <p>
                L'Union Nationale des Coopératives de Planteurs et Maraîchers du Mali (UNCPM) a été créée en 1985 sous l'initiative de neuf membres fondateurs. Depuis sa création, l'UNCPM a joué un rôle de leader dans le secteur agricole du Mali en soutenant les planteurs et maraîchers à travers des actions de plaidoyer, la gestion de projets de développement, et l'approvisionnement en semences et matériel agricole. Avec plus de 14 000 adhérents répartis dans 6 régions, l'UNCPM œuvre pour la transformation agro-écologique et le développement de l'agriculture durable.
            </p>
        </div>
        
        <div class="about-img-container">
            <img src="https://placehold.co/600x500/lightgreen/black" alt="About image" class="img">
        </div>
    </div>
</section>

<section class="structuration-section">
    <div class="container">
        <div class="about-img-container">
            <img src="https://placehold.co/600x500/lightgreen/black" alt="About image" class="img">
        </div>

        <div class="structuration-content flow">
            <h2 class="text-xl">Notre Structuration</h2>
            <p>
                L'UNCPM est structurée pour assurer une gestion efficace et participative de ses activités à travers :
            </p>
            <ul class="services flow-sm">
                <li>
                    <i class='bx bx-cog text'></i>
                    <span class="text">Assemblée Générale des Délégués</span>
                </li>
                <li>
                    <i class='bx bx-cog text'></i>
                    <span class="text">Conseil d'administration</span>
                </li>
                <li>
                    <i class='bx bx-cog text'></i>
                    <span class="text">Comité de surveillance</span>
                </li>
                <li>
                    <i class='bx bx-cog text'></i>
                    <span class="text">Direction exécutive</span>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="context-section">
    <div class="container">
        <div class="context-content flow">
            <h2 class="text-xl">Contexte et Justification</h2>
            <p>
                L'UNCPM a été créée pour combler le manque de centres de services horticoles au Mali. Nous nous inspirons des stratégies de caisses d’épargne, de crédits et d’organisations paysannes à travers le monde pour mettre en place des actions qui répondent aux besoins des planteurs et maraîchers maliens. Nos actions sont guidées par des expériences tirées d'initiatives en Afrique, Europe, et Amérique.
            </p>
        </div>

        <div class="about-img-container">
            <img src="https://placehold.co/600x500/lightgreen/black" alt="About image" class="img">
        </div>
    </div>
</section>

<section class="service-center-section">
    <div class="container">
        <div class="service-center-img-container">
            <img src="https://placehold.co/600x500/lightblue/black" alt="Centre de Service image" class="service-center-img">
        </div>

        <div class="service-center-content flow">
            <h2 class="text-xl text-center">Le Centre de Service et d'Innovation Horticole</h2>
            <p>
                Le Centre de Service et d'Innovation Horticole se concentre sur l'innovation technique et agro-écologique, en particulier pour les jeunes horticulteurs et les femmes. Il soutient les coopératives horticoles, développe des plans d'affaires et améliore les pratiques agricoles grâce à la digitalisation et à l'efficacité des méthodes de culture.
            </p>
            <button class="btn">Voir plus</button>
        </div>
    </div>
</section>
