<section class="error-section">
    <div class="container">
        <h2 class="text-xl text-center"><%= message %></h2>
        <h3 class="text-lg text-center"><%= status %></lg>
    </div>
</section>