<section class="hero-section">
    <div class="container">
        <div class="hero-content">
            <h2 class="text-xxl">Rejoignez l'UNCPM pour un avenir agricole durable</h2>
            
            <p class="text-md">
                L'UNCPM soutient les agriculteurs maliens en favorisant l'innovation et la coopération. Ensemble, transformons l'agriculture pour un avenir durable.
            </p>
            <button class="btn btn-primary btn-xl">Rejoindre</button>
        </div>
        
        <div class="hero-img-container">
            <img src="/assets/img/hero.svg" alt="About image" class="img">
        </div>
    </div>
</section>


<section class="partners-section">
    <div class="container flow-xl">
        <h2 class="text-lg text-center">Trusted by millions of companies worldwide for building remotes</h2>
        <div class="partners-grid">
            <article class="partner">
                <img src="assets/img/partners/ce.webp" alt="" class="partner-img">
            </article>
            <article class="partner">
                <img src="assets/img/partners/cnop.webp" alt="" class="partner-img">
            </article>
            <article class="partner">
                <img src="assets/img/partners/ier.webp" alt="" class="partner-img">
            </article>
            <article class="partner">
                <img src="assets/img/partners/irpad.webp" alt="" class="partner-img">
            </article>
            <article class="partner">
                <img src="assets/img/partners/colead.webp" alt="" class="partner-img">
            </article>
            <article class="partner">
                <img src="assets/img/partners/grdr.webp" alt="" class="partner-img">
            </article>
            <article class="partner">
                <img src="assets/img/partners/acp.webp" alt="" class="partner-img">
            </article>
            <article class="partner">
                <img src="assets/img/partners/ecotech.webp" alt="" class="partner-img">
            </article>
            <article class="partner">
                <img src="assets/img/partners/afdi.webp" alt="" class="partner-img">
            </article>
            <article class="partner">
                <img src="assets/img/partners/agricord.webp" alt="" class="partner-img">
            </article>
        </div>
    </div>
</section>


<section class="home-section">
    <div class="container">
        <div class="home-content flow-lg">
            <h2 class="text-xl text-center">Découvrez nos actions et notre structure</h2>
            <p class="text-center">Explorez nos différentes initiatives et structures qui soutiennent les planteurs et maraîchers au Mali.</p>
            
            <ul class="home-list">
                <li>
                    <h3 class="text-md text-center">A propos de nous</h3>
                    <p class="text text-center">Apprenez-en plus sur l'UNCPM, son histoire et son rôle dans le développement du secteur agricole au Mali.</p>
                    
                    <a href="/about#about" class="btn btn-primary">Voir plus</a>
                </li>
                <li>
                    <h3 class="text-md text-center">Notre Structuration</h3>
                    <p class="text text-center">Découvrez la structure de l'UNCPM et son organisation interne pour une gestion efficace.</p>
                    
                    <a href="/about#structure" class="btn btn-primary">Voir plus</a>
                </li>
                <li>
                    <h3 class="text-md text-center">Contexte et Justification</h3>
                    <p class="text text-center">Comprenez les raisons de la création de l'UNCPM et les bases de son action à travers des initiatives mondiales.</p>
                    
                    <a href="/about#context" class="btn btn-primary">Voir plus</a>
                </li>
                <li>
                    <h3 class="text-md text-center">Le Centre de Service et d'Innovation Horticole</h3>
                    <p class="text text-center">Explorez notre centre dédié à l'innovation agro-écologique et aux jeunes horticulteurs.</p>
                    
                    <a href="/about#service-center" class="btn btn-primary">Voir plus</a>
                </li>
            </ul>
        </div>

        <div class="home-img-container">
            <img src="/assets/img/blog/circuits-courts-agriculture.jpg" alt="About image" class="home-img">
        </div>
    </div>
</section>

<section class="missions-section">
    <div class="container flow-lg">
        <h2 class="text-xl text-center">Notre Mission et <br> Nos Objectifs</h2>

        <div class="missions-grid">
            <article class="mission">
                <div class="mission-content flow">
                    <img src="assets/img/missions/agroecology2.jpg" alt="" class="mission-img">
                    
                    <h3 class="text-md">Défense des intérêts des membres et partenariats</h3>

                    <p class="text">
                        Défendre les intérêts des planteurs et maraîchers et établir des partenariats efficaces avec les membres, le gouvernement et d’autres acteurs
                    </p>
                </div>
            </article>

            <article class="mission">
                <div class="mission-content flow">
                    <img src="assets/img/missions/seedling.svg" alt="" class="mission-img">
                    
                    <h3 class="text-md">Solutions aux problèmes agricoles</h3>

                    <p class="text">
                        Apporter des solutions aux défis agricoles (terres, semences, eau, équipements, etc.) pour améliorer la production
                    </p>
                </div>
            </article>

            <article class="mission">
                <div class="mission-content flow">
                    <img src="assets/img/missions/growth.svg" alt="" class="mission-img">
                    
                    <h3 class="text-md">Promotion et développement des membres</h3>

                    <p class="text">
                        Promouvoir les coopératives membres et offrir des formations pour renforcer l’esprit coopératif
                    </p>
                </div>
            </article>

            <article class="mission">
                <div class="mission-content flow">
                    <img src="assets/img/missions/advocacy.svg" alt="" class="mission-img">
                    
                    <h3 class="text-md">Commercialisation et transformation des produits</h3>

                    <p class="text">
                        Assurer la vente, la transformation et la conservation des produits des membres
                    </p>
                </div>
            </article>

            <article class="mission">
                <div class="mission-content flow">
                    <img src="assets/img/missions/youth.jpg" alt="" class="mission-img">
                    
                    <h3 class="text-md">Amélioration de la production</h3>

                    <p class="text">
                        Diffuser des technologies pour améliorer la production et la productivité des membres
                    </p>
                </div>
            </article>

            <article class="mission">
                <div class="mission-content flow">
                    <img src="assets/img/missions/innovation.jpg" alt="" class="mission-img">
                    
                    <h3 class="text-md">Innovation horticole et soutien</h3>

                    <p class="text">
                        Promouvoir l’agro-écologie, diffuser des innovations, et accompagner les jeunes et femmes horticulteurs
                    </p>
                </div>
            </article>
        </div>
    </div>
</section>

<section class="projects-section">
    <div class="container flow-lg">
        <h2 class="text-xl text-center">Nos Projets</h2>

        <div class="projects-grid">
            <article class="project">
                <div class="project-img-container">
                    <img src="/assets/img/blog/agriculture-durable.jpg" alt="Image d'article 1" 
                        width="300" height="200" class="project-img">
                </div>
                <div class="project-infos">
                    <h2 class="text-md">L'agriculture durable : un enjeu majeur pour l'avenir</h2>
                    <p class="project-description text">
                        L'agriculture durable devient une priorité dans la lutte contre le changement climatique. Découvrez comment les pratiques agricoles écologiques contribuent à préserver la biodiversité tout en garantissant une production alimentaire suffisante.
                    </p>
                    <a href="#" class="btn btn-primary project-btn btn-primary">Lire</a>
                </div>
            </article>

            <article class="project">
                <div class="project-img-container">
                    <img src="/assets/img/blog/agriculture-technologies.jpg" alt="Image d'article 2" 
                        width="300" height="200" class="project-img">
                </div>
                <div class="project-infos">
                    <h2 class="text-md">Les nouvelles technologies au service de l'agriculture</h2>
                    <p class="project-description text">
                        Les technologies modernes, telles que les drones, l'IA et l'agriculture de précision, révolutionnent les méthodes de culture. Ces innovations permettent une gestion optimisée des ressources et une meilleure productivité tout en réduisant l'impact environnemental.
                    </p>
                    <a href="#" class="btn btn-primary project-btn btn-primary">Lire</a>
                </div>
            </article>

            <article class="project">
                <div class="project-img-container">
                    <img src="/assets/img/blog/cultures-resilientes.jpg" alt="Image d'article 3" 
                        width="300" height="200" class="project-img">
                </div>
                <div class="project-infos">
                    <h2 class="text-md">Les cultures résilientes face au changement climatique</h2>
                    <p class="project-description text">
                        Avec l'augmentation des phénomènes climatiques extrêmes, les agriculteurs doivent s'adapter. Focus sur les cultures résistantes à la sécheresse et à la chaleur, et comment elles peuvent aider à sécuriser les récoltes dans un monde en mutation.
                    </p>
                    <a href="#" class="btn btn-primary project-btn btn-primary">Lire</a>
                </div>
            </article>
        </div>
    </div>
</section>


<section class="contact-section" id="contact">
    <div class="container flow-lg">
        <div class="contact-header">
            <div class="contact-img-container">
                <img src="/assets/img/contact.svg" alt="Contact image" class="contact-image">
            </div>
            <h3 class="text-xl text-center">Contact</h3>
        </div>
        
        <div class="contact-grid">
            <article class="contact">
                <div class="contact-photo">
                    <img src="https://placehold.co/100x100/green/black" alt="Contact photo">
                </div>
                <div class="contact-content flow-sm">
                    <h3 class="text-md">Mme DIALLO M'Bodji SENE</h3>
                    <p class="text">Presidente du C.A</p>
                    <div class="contact-infos">
                        <a class="link-alt" href="mailto:mbodjisene74@gmail.com">
                            <i class="bx bx-envelope text-md"></i>
                        </a>
                        <a class="link-alt" href="tel:+22373336633">
                            <i class="bx bx-phone text-md"></i>
                        </a>
                    </div>
                </div>
            </article>
            
            <article class="contact">
                <div class="contact-photo">
                    <img src="https://placehold.co/100x100/green/black" alt="Contact photo">
                </div>
                <div class="contact-content flow-sm">
                    <h3 class="text-md">M. Adboulaye Bamba</h3>
                    <p class="text">Directeur des Services Techniques</p>
                    <div class="contact-infos">
                        <a class="link-alt" href="mailto:labamba@yahoo.fr">
                            <i class="bx bx-envelope text-md"></i>
                        </a>
                        <a class="link-alt" href="tel:+22365657070">
                            <i class="bx bx-phone text-md"></i>
                        </a>
                    </div>
                </div>
            </article>

            <article class="contact">
                <div class="contact-photo">
                    <img src="https://placehold.co/100x100/green/black" alt="Contact photo">
                </div>
                <div class="contact-content flow-sm">
                    <h3 class="text-md">Mr Hamidou TRAORE</h3>
                    <p class="text">Assistant en Animation des Coopératives</p>
                    <div class="contact-infos">
                        <a class="link-alt" href="mailto:hamidoutraore920@gmail.com">
                            <i class="bx bx-envelope text-md"></i>
                        </a>
                        <a class="link-alt" href="tel:+22377072090">
                            <i class="bx bx-phone text-md"></i>                       
                        </a>
                    </div>
                </div>
                </ul>
            </article>
        </div>
    </div>
</section>

<section class="faq-section">
    <div class="container flow-xl">
        <div class="faq-header">
            <div class="faq-img-container">
                <img src="/assets/img/faq.svg" alt="">
            </div>
            <h3 class="text-xl text-center">Frequently Asked<br>Questions</h3>
        </div>

        <div class="faq-list">
            <details class="faq-item flow-sm">
                <summary class="faq-question text-md">Comment devenir membre de l'UNCPM ?</summary>
                <p class="faq-answer text">
                    Pour devenir membre de l'UNCPM, vous devez remplir un formulaire d'adhésion disponible sur notre site ou contacter l'une de nos coopératives locales. Des informations supplémentaires sont fournies lors de votre inscription.
                </p>
            </details>
    
            <details class="faq-item flow-sm">
                <summary class="faq-question text-md">Quelles sont les conditions d'adhésion à une coopérative membre de l'UNCPM ?</summary>
                <p class="faq-answer text">
                    L'adhésion à une coopérative de l'UNCPM nécessite que vous soyez un planteur ou maraîcher avec des intérêts communs dans le secteur agricole. Les conditions spécifiques peuvent varier selon les coopératives, mais elles comprennent généralement des critères de production, de gestion et de développement coopératif.
                </p>
            </details>
    
            <details class="faq-item flow-sm">
                <summary class="faq-question text-md">Quels services sont offerts aux membres de l'UNCPM ?</summary>
                <p class="faq-answer text">
                    L'UNCPM offre plusieurs services tels que l'approvisionnement en semences, matériel agricole, formation technique, et l'accompagnement dans la transformation et la commercialisation des produits agricoles.
                </p>
            </details>
    
            <details class="faq-item flow-sm">
                <summary class="faq-question text-md">Comment l'UNCPM aide-t-elle les jeunes et les femmes dans le secteur horticole ?</summary>
                <p class="faq-answer text">
                    L'UNCPM soutient les jeunes et les femmes en promouvant l'agro-écologie, en offrant des formations adaptées, et en facilitant l'accès aux ressources techniques et financières pour l'innovation horticole.
                </p>
            </details>
    
            <details class="faq-item flow-sm">
                <summary class="faq-question text-md">Quels types de formations l'UNCPM propose-t-elle à ses membres ?</summary>
                <p class="faq-answer text">
                    L'UNCPM propose des formations en gouvernance, en pratiques agricoles modernes, en gestion des coopératives et en techniques agro-écologiques pour améliorer la productivité et la durabilité des pratiques agricoles.
                </p>
            </details>
    
            <details class="faq-item flow-sm">
                <summary class="faq-question text-md">Où puis-je trouver plus d'informations sur le Centre de Service et d'Innovation Horticole de l'UNCPM ?</summary>
                <p class="faq-answer text">
                    Vous pouvez en savoir plus sur le Centre de Service et d'Innovation Horticole en visitant la section dédiée sur notre site web, ou en contactant directement l'UNCPM pour obtenir des informations détaillées sur nos initiatives et programmes spécifiques.
                </p>
            </details>
    
            <details class="faq-item flow-sm">
                <summary class="faq-question text-md">Comment contacter les responsables de l'UNCPM pour plus d'informations ?</summary>
                <p class="faq-answer text">
                    Vous pouvez contacter les responsables de l'UNCPM par email ou téléphone. Les informations de contact sont disponibles sur la section Contact de notre site.
                </p>
            </details>
        </div>
    </div>
</section>