<section class="hero-section">
    <div class="container">
        <div class="hero-content">
            <h2 class="text-xxl">Bienvenue à l'Union Nationale des <br>Coopératives de Planteurs et Maraîchers du Mali (UNCPM)</h2>
            
            <p class="text-md">
                L'UNCPM soutient les agriculteurs maliens en favorisant l'innovation, l'agroécologie et la coopération. Rejoignez-nous pour transformer le secteur agricole et construire un avenir durable
            </p>
            <button class="btn btn-lg">Rejoindre</button>
        </div>
        
        <div class="hero-img-container">
            <img src="/assets/img/hero.svg" alt="About image" class="img">
        </div>
    </div>
</section>


<section class="partners-section">
    <div class="container">
        <div class="partners-grid swiper">
            <div class="swiper-wrapper">
                <article class="partner swiper-slide">
                    <img src="assets/img/partners/ce.webp" alt="" class="partner-img">
                </article>
                <article class="partner swiper-slide">
                    <img src="assets/img/partners/cnop.webp" alt="" class="partner-img">
                </article>
                <article class="partner swiper-slide">
                    <img src="assets/img/partners/ier.webp" alt="" class="partner-img">
                </article>
                <article class="partner swiper-slide">
                    <img src="assets/img/partners/agricord.webp" alt="" class="partner-img">
                </article>
                <article class="partner swiper-slide">
                    <img src="assets/img/partners/irpad.webp" alt="" class="partner-img">
                </article>
                <article class="partner swiper-slide">
                    <img src="assets/img/partners/acp.webp" alt="" class="partner-img">
                </article>
                <article class="partner swiper-slide">
                    <img src="assets/img/partners/colead.webp" alt="" class="partner-img">
                </article>
                <article class="partner swiper-slide">
                    <img src="assets/img/partners/afdi.webp" alt="" class="partner-img">
                </article>
                <article class="partner swiper-slide">
                    <img src="assets/img/partners/ecotech.webp" alt="" class="partner-img">
                </article>
                <article class="partner swiper-slide">
                    <img src="assets/img/partners/grdr.webp" alt="" class="partner-img">
                </article>
            </div>
        </div>
    </div>
</section>


<section class="home-section">
    <div class="container">
        <div class="home-content flow-lg">
            <h2 class="text-xl text-center">Découvrez nos actions et notre structure</h2>
            <p class="text-center">Explorez nos différentes initiatives et structures qui soutiennent les planteurs et maraîchers au Mali.</p>
            
            <ul class="home-list">
                <li>
                    <h3 class="text-md text-center">A propos de nous</h3>
                    <p class="text text-center">Apprenez-en plus sur l'UNCPM, son histoire et son rôle dans le développement du secteur agricole au Mali.</p>
                    
                    <a href="/about#about" class="btn">Voir plus</a>
                </li>
                <li>
                    <h3 class="text-md text-center">Notre Structuration</h3>
                    <p class="text text-center">Découvrez la structure de l'UNCPM et son organisation interne pour une gestion efficace.</p>
                    
                    <a href="/about#structure" class="btn">Voir plus</a>
                </li>
                <li>
                    <h3 class="text-md text-center">Contexte et Justification</h3>
                    <p class="text text-center">Comprenez les raisons de la création de l'UNCPM et les bases de son action à travers des initiatives mondiales.</p>
                    
                    <a href="/about#context" class="btn">Voir plus</a>
                </li>
                <li>
                    <h3 class="text-md text-center">Le Centre de Service et d'Innovation Horticole</h3>
                    <p class="text text-center">Explorez notre centre dédié à l'innovation agro-écologique et aux jeunes horticulteurs.</p>
                    
                    <a href="/about#service-center" class="btn">Voir plus</a>
                </li>
            </ul>
        </div>

        <div class="home-img-container">
            <img src="/assets/img/blog/revolution-des-semences.webp" alt="About image" class="img">
        </div>
    </div>
</section>

<section class="missions-section">
    <div class="container flow-lg">
        <h2 class="text-xl text-center">Notre Mission et Nos Objectifs</h2>
        
        <p class="text-center">
            L'UNCPM se bat pour la défense des intérêts des planteurs et maraîchers partout au Mali. Elle vise à :
        </p>

        <div class="missions-grid">
            <article class="mission">
                <div class="mission-content flow">
                    <img src="assets/img/missions/agroecology2.jpg" alt="" class="mission-img">
                    
                    <h3 class="text-md">Défense des intérêts des membres et partenariats</h3>

                    <p class="text">
                        Défendre les intérêts des planteurs et maraîchers et établir des partenariats efficaces avec les membres, le gouvernement et d’autres acteurs
                    </p>
                </div>
            </article>

            <article class="mission">
                <div class="mission-content flow">
                    <img src="assets/img/missions/seedling.svg" alt="" class="mission-img">
                    
                    <h3 class="text-md">Solutions aux problèmes agricoles</h3>

                    <p class="text">
                        Apporter des solutions aux défis agricoles (terres, semences, eau, équipements, etc.) pour améliorer la production
                    </p>
                </div>
            </article>

            <article class="mission">
                <div class="mission-content flow">
                    <img src="assets/img/missions/growth.svg" alt="" class="mission-img">
                    
                    <h3 class="text-md">Promotion et développement des membres</h3>

                    <p class="text">
                        Promouvoir les coopératives membres et offrir des formations pour renforcer l’esprit coopératif
                    </p>
                </div>
            </article>

            <article class="mission">
                <div class="mission-content flow">
                    <img src="assets/img/missions/advocacy.svg" alt="" class="mission-img">
                    
                    <h3 class="text-md">Commercialisation et transformation des produits</h3>

                    <p class="text">
                        Assurer la vente, la transformation et la conservation des produits des membres
                    </p>
                </div>
            </article>

            <article class="mission">
                <div class="mission-content flow">
                    <img src="assets/img/missions/youth.jpg" alt="" class="mission-img">
                    
                    <h3 class="text-md">Amélioration de la production</h3>

                    <p class="text">
                        Diffuser des technologies pour améliorer la production et la productivité des membres
                    </p>
                </div>
            </article>

            <article class="mission">
                <div class="mission-content flow">
                    <img src="assets/img/missions/innovation.jpg" alt="" class="mission-img">
                    
                    <h3 class="text-md">Innovation horticole et soutien</h3>

                    <p class="text">
                        Promouvoir l’agro-écologie, diffuser des innovations, et accompagner les jeunes et femmes horticulteurs
                    </p>
                </div>
            </article>
        </div>
    </div>
</section>


<section class="contact-section" id="contact">
    <div class="container flow-lg">
        <h3 class="text-xl text-center">Contact</h3>
        <div class="contact-grid">
            <article class="contact flow">
                <div class="contact-header">
                    <div class="contact-photo">
                        <img src="https://placehold.co/50x50/brown/black" alt="Contact photo">
                    </div>
                    <div class="contact-name">
                        <h3 class="text">Mme DIALLO M'Bodji SENE</h3>
                        <span class="text-sm">Presidente du C.A</span>
                    </div>
                </div>
                <ul class="contact-body">
                    <li>
                        <span>Email :</span>
                        <a class="text link-alt" href="mailto:mbodjisene74@gmail.com">mbodjisene74@gmail.com</a>
                    </li>
                    <li>
                        <span>Tel :</span>
                        <a class="text link-alt" href="tel:+22373336633">+223 73 33 66 33</a>
                    </li>
                </ul>
            </article>
            
            <article class="contact flow">
                <div class="contact-header">
                    <div class="contact-photo">
                        <img src="https://placehold.co/50x50/brown/black" alt="Contact photo">
                    </div>
                    <div class="contact-name">
                        <h3 class="text">M. Adboulaye Bamba</h3>
                        <span class="text-sm">Directeur des Services Techniques</span>
                    </div>
                </div>
                <ul class="contact-body">
                    <li>
                        <span>Email :</span>
                        <a class="text link-alt" href="mailto:labamba@yahoo.fr">labamba@yahoo.fr</a>
                    </li>
                    <li>
                        <span>Tel :</span>
                        <a class="text link-alt" href="tel:+22365657070">+223 65 65 70 70</a>
                    </li>
                </ul>
            </article>

            <article class="contact flow">
                <div class="contact-header">
                    <div class="contact-photo">
                        <img src="https://placehold.co/50x50/brown/black" alt="Contact photo">
                    </div>
                    <div class="contact-name">
                        <h3 class="text">Mr Hamidou TRAORE</h3>
                        <span class="text-sm">Assistant en Animation des Coopératives</span>
                    </div>
                </div>
                <ul class="contact-body">
                    <li>
                        <span>Email :</span>
                        <a class="text link-alt" href="mailto:hamidoutraore920@gmail.com">hamidoutraore920@gmail.com</a>
                    </li>
                    <li>
                        <span>Tel :</span>
                        <a class="text link-alt" href="tel:+22377072090">+223 77 07 20 90</a> /
                        <a class="text-sm link-alt" href="tel:+22366527260">+223 66 52 72 60</a>
                    </li>
                </ul>
            </article>
        </div>
    </div>
</section>