:root {
    interpolate-size: allow-keywords;

    --flow: 1rem;

    /********** Font sizes variables *******/
    --fs-100: clamp(0.64rem, 0.7134rem + -0.0947vw, 0.6944rem);
    --fs-200: clamp(0.8rem, 0.8449rem + -0.058vw, 0.8333rem);
    --fs-300: clamp(1rem, 1rem + 0vw, 1rem);
    --fs-400: clamp(1.2rem, 1.1826rem + 0.087vw, 1.25rem);
    --fs-500: clamp(1.44rem, 1.3974rem + 0.213vw, 1.5625rem);
    --fs-600: clamp(1.728rem, 1.6497rem + 0.3915vw, 1.9531rem);
    --fs-700: clamp(2.0736rem, 1.9457rem + 0.6397vw, 2.4414rem);
    --fs-800: clamp(2.4883rem, 2.2923rem + 0.9799vw, 3.0518rem);


    /********** Colors light variables *******/
    --clr-black: hsl(0, 0%, 0%);
    --clr-white: hsl(0, 0%, 100%);

    --clr-text: hsl(30, 5%, 15%);
    --clr-title: hsl(30, 22%, 5%);
    --clr-link: hsl(210, 57%, 36%);
    --clr-accent: hsl(15, 71%, 45%);
    --clr-primary: hsl(150, 57%, 36%);
    --clr-container: hsl(30, 40%, 61%);
    --clr-background: hsl(30, 63%, 95%);
    --clr-container-alt: hsl(120, 63%, 93%);
}

/*********************************************** RESET CSS **************************************/
* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    scrollbar-width: normal;

    font-optical-sizing: auto;
    font-family: "Poppins", serif;
    font-variation-settings: "wdth" 100;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
}

body {
    min-height: 100dvh;
    font-size: var(--fs-300);
}

h1, h2, h3 {
    line-height: 1.2;
    font-weight: bold;
    text-wrap: balance;
    color: var(--clr-title);
}

p, span, li {
    max-width: 70ch;
    line-height: 1.6;
    text-wrap: pretty;
    color: var(--clr-text);
}

img, video, svg, picture {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--clr-black);
}

button { 
    border: none;
    cursor: pointer;
    background: none;
}

input, label, textarea, select {
    border: none;
    outline: none;
}
/*********************************************** RESET CSS **************************************/

/*********************************************** REUSABLE CSS **************************************/
    /************************************ STRUCTURE ******************************/
    .container {
        margin-inline: auto;
        width: min(100% - 2rem, calc(1200px + 2rem));
    }

    .flow-xl > * + * {
        margin-top: calc(var(--flow) * 4);
    }

    .flow-lg > * + * {
        margin-top: calc(var(--flow) * 2);
    }

    .flow > * + * {
        margin-top: var(--flow);
    }

    .flow-sm > * + * {
        margin-top: calc(var(--flow) / 2);
    }
    /************************************ STRUCTURE ******************************/


    /************************************ Typographies ******************************/
    .text-xxl {
        font-size: var(--fs-800);
    }

    .text-xl {
        font-size: var(--fs-700);
    }

    .text-brand {
        font-size: var(--fs-600);
    }

    .text-lg {
        font-size: var(--fs-500);
    }

    .text-md {
        font-size: var(--fs-400);
    }

    .text {
        font-size: var(--fs-300);
    }

    .text-sm {
        font-size: var(--fs-200);
    }

    .text-xs {
        font-size: var(--fs-100);
    }

    .text-center {
        text-align: center;
        margin-inline: auto;
    }
    /************************************ Typographies ******************************/

    /************************************ Buttons & Links ******************************/
    .btn {
        padding: .5rem 1rem;
        border-radius: .25rem;
        font-size: var(--fs-300);
    }
    
    .btn-primary {
        color: var(--clr-white);
        background-color: var(--clr-primary);
    }

    .btn-sm {
        padding: .25rem .5rem;
        font-size: var(--fs-400);
    }

    .btn-lg {
        padding: 1rem 2rem;
        font-size: var(--fs-400);
    }

    .btn-xl {
        padding: 1rem 2rem;
        font-size: var(--fs-500);
    }

    .btn:hover {
        border: none;
        background: var(--clr-accent);
    }

    .link {
        display: inline-flex;
        color: var(--clr-link);
        transition: scale 200ms;
    }

    .link:hover {
        scale: 1.2;
        color: var(--clr-accent);
    }
    /************************************ Buttons & Links ******************************/


/*********************************************** REUSABLE CSS **************************************/
#app {
    position: relative;
    overflow-x: hidden;
    color: var(--clr-text);
    background: var(--clr-background);
}

section:where(:not(.hero-section, .blog-all-section)) {
    margin-block: 10rem;
}

/*********************************************** HEADER **************************************/
.header {
    z-index: 1;
    position: sticky;
    inset: 0 0 auto 0;
    background-color: var(--clr-container);
}

.header .container {
    display: flex;
    align-items: center;
    padding-block: 1rem;
    justify-content: space-between;
}

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}

.nav-menu {
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-menu li {
    flex: 0 0 fit-content;
}

.nav-close, .nav-open {
    display: none;
}

.nav-link {
    display: inline-flex;
    color: var(--clr-black);
    font-size: var(--fs-400);
    transition: scale 300ms ease;
}

.nav-link:hover, .nav-link:active {
    scale: 1.2;
    color: var(--clr-accent);
}
/*********************************************** HEADER **************************************/

/*********************************************** FOOTER **************************************/
.footer {
    padding-block: 4rem 2rem;
    background-color: var(--clr-container);
}

.footer-main {
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
}

.footer-grid {
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
}
/*********************************************** FOOTER **************************************/


/*********************************************** INDEX PAGE **************************************/

    /*********************************************** HERO **************************************/
    .hero-section {
        height: 80dvh;
        padding-block: 4rem;
        background-color: var(--clr-container);
    }

    .hero-section .container {
        gap: 5rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));        
    }
    

    .hero-content {
        display: flex;
        row-gap: 2rem;
        align-items: start;
        flex-direction: column;
    }

    .hero-img {
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }
    /*********************************************** HERO **************************************/


    /*********************************************** STATS **************************************/
    .stats {
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
    }

    .stats > * {
        flex: 1;
    }

    .stat {
        padding: 1rem .5rem;
        border-radius: .5rem;
        box-shadow: 0 0 1px 0 var(--clr-black);
        background-color: var(--clr-container-alt);
    }
    /*********************************************** STATS **************************************/


    /*********************************************** HOME **************************************/
    .home-section .container {
        gap: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
    }

    .home-list {
        gap: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 180px), 1fr));
    }

    .home-list li {
        display: flex;
        row-gap: 1rem;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        padding: 1rem;
        border-radius: .5rem;
        box-shadow: 0 0 2px 0 var(--clr-container);
        background-color: var(--clr-container-alt);
    }

    .home-img {
        height: 100%;
        object-fit: cover;
    }
    /*********************************************** HOME **************************************/


    /*********************************************** PARTNERS **************************************/
    .partner {
        width: fit-content;
    }

    .scroller {
        max-width: 1200px;
    }

    .scroller-inner {
        display: flex;
        column-gap: 1rem;
        flex-wrap: nowrap;
        align-items: center;
        padding-block: 1rem;
    }

    .scroller[data-animated="true"]{
        overflow: hidden;
        mask: linear-gradient(90deg, transparent, white 15%, white 85%, transparent);
    }

    .scroller[data-animated="true"] .scroller-inner {
        width: max-content;
        animation: scroll 20s linear infinite;
    }

    @keyframes scroll {
        to {
            translate: calc(-50% - .5rem);            
        }
    }
    /*********************************************** PARTNERS **************************************/


    /*********************************************** MISSIONS & GOALS **************************************/
    .missions-section {
        padding-block: 5rem;
        background-color: var(--clr-container);
    }

    .missions-grid {
        gap: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    }

    .mission {
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: 0 0 1px 0 var(--clr-black);
        background-color: var(--clr-container-alt);
    }

    .mission-header {
        display: flex;
        column-gap: 1rem;
        align-items: center;
    }

    .mission-img {
        width: 20%;
    }
    /*********************************************** MISSIONS & GOALS **************************************/


    /*********************************************** CONTACT **************************************/
    .contact-section {
        background-color: var(--clr-container);
    }

    .contact-section .container {
        padding-block: 5rem;
    }

    .contact-grid {
        gap: 2rem;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
    }

    .contact {
        display: flex;
        column-gap: 1rem;

        padding: 2rem 1rem;
        border-radius: .5rem;
        box-shadow: 0 0 1px 0 var(--clr-black);
        background-color: var(--clr-container-alt);
    }

    .contact-header {
        display: flex;
        row-gap: 1rem;
        align-items: center;
        flex-direction: column;
    }

    .contact-img-container {
        width: max(200px, 20%);
    }

    .contact-infos {
        gap: 1rem;
        display: flex;
    }

    .contact-photo img {
        width: 100px;
        border-radius: 50%;
    }
    /*********************************************** CONTACT **************************************/

    /*********************************************** FAQ **************************************/
    .faq-header {
        display: flex;
        row-gap: 1rem;
        align-items: center;
        flex-direction: column;
    }

    .faq-img-container {
        width: max(200px, 25%);
    }

    .faq-list {
        display: grid;
        gap: 1rem 5rem;
        margin-inline: auto;
        max-width: min(100%, 600px);
    }

    .faq-item {
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding-inline: 1rem;
        border-radius: .5rem;
        box-shadow: 0 0 2px 0 var(--clr-container);
        background-color: var(--clr-container-alt);
    }

    .faq-item:hover, .faq-item:active, .faq-item.is-active { 
        background-color: var(--clr-container);
    }
    
    .faq-question {
        gap: 1rem;
        padding-block: 1rem;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .faq-answer {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 300ms;
    }

    .faq-answer > p {
        overflow: hidden;
    }

    .faq-item.show .faq-answer {
        padding-block: .5rem;
        grid-template-rows: 1fr;
    }

    .faq-item.show .faq-question {
        padding-block: 1rem 0;
    }

    .faq-plus {
        font-size: var(--fs-500);
    }
    /*********************************************** FAQ **************************************/


/*********************************************** INDEX PAGE **************************************/


/*********************************************** ABOUT PAGE **************************************/
#about-hero-section {
    padding-block: 8rem;
}

:is(.about-section, .context-section, .structuration-section, .service-center-section) .container {
    display: grid;
    gap: 3rem 2rem;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
}

.about-section img {
    border-radius: 66% 34% 71% 29% / 46% 67% 33% 54%;
}

.structuration-section img {
    border-radius: 58% 42% 53% 47% / 41% 61% 39% 59%;
}

.service-center-section img {
    border-radius: 63% 37% 59% 41% / 47% 67% 33% 53%;
}

.context-section img {
    border-radius: 55% 45% 50% 50% / 45% 60% 40% 55%;
}
/*********************************************** ABOUT PAGE **************************************/

/*********************************************** BLOG PAGE **************************************/
.blog-all-section {
    margin-block: 5rem 10rem;
}

.blog-grid, .projects-grid {
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
}

:is(.post-img, .project-img) {
    width: 100%;
    aspect-ratio: 3/2;
}

.post, .project{
    display: flex;
    border-radius: .5rem;
    flex-direction: column;
    box-shadow: 0 0 2px 0 var(--clr-container);
    background-color: var(--clr-container-alt);
}

:is(.post, .project) img{
    border-radius: .5rem .5rem 0 0;
}

.post-infos, .project-infos {
    padding: 2rem;
    border-radius: 0 0 .5rem .5rem;
    
    flex-grow: 1;
    display: flex;
    row-gap: 1rem;
    align-items: start;
    flex-direction: column;
}

.post-description, .project-description {
    line-clamp: 3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.post-btn, .project-btn {
    align-self: end;
    margin-top: auto;
}
/*********************************************** BLOG PAGE **************************************/



/*********************************************** MEMBERSHIP PAGE **************************************/
.membership-img-container {
    width: max(200px, 20%);
}

.form {
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 2px 0 var(--clr-container);
    background-color: var(--clr-container-alt);
}

.form-grid {
    display: grid;
    gap: 1rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}

.form-group {
    display: flex;
    row-gap: .25rem;
    flex-direction: column;
}

.form-group-alt {
    display: flex;
    column-gap: .5rem;
    align-items: center;
}

.form-group label {
    font-size: var(--fs-300);
}

.form-group :is(input, textarea, select){
    border-radius: .5rem;
    padding: .25rem .75rem;
    background-color: var(--clr-background);
    border: 1px solid var(--clr-container);
}

.form-group :is(input, textarea, select):focus {
    border: 1px solid var(--clr-primary);
}

.form-group:has(#description_activite){
    grid-column: 1 / -1;
}

/*********************************************** MEMBERSHIP PAGE **************************************/



/*********************************************** SMALL SCREENS **************************************/
@media (width < 600px){
    .nav-menu {
        align-items: center;
        justify-content: center;
        flex-direction: column;

        height: 100dvh;
        inset: 0 0 auto 0;
        position: absolute;
        translate: 0 -100%;
        transition: translate 300ms ease;
        background-color: var(--clr-container);
    }

    .nav-menu.open {
        translate: 0 0;
    }

    .nav-item, .nav-close {
        width: fit-content;
    }

    .nav-close, .nav-open {
        display: inline-flex;
    }

    .icons {
        display: none;
    }

    .hero-img-container, .home-img-container {
        display: none;
    }

    :is(.about-section, .context-section, .structuration-section, .service-center-section) .container {
        row-gap: 1rem;
    }

    :is(.about-section, .context-section, .structuration-section, .service-center-section) h2 {
        text-align: center;
    }

    :is(.about-section, .context-section, .structuration-section, .service-center-section) :has(> h2) {
        order: 2;
    }

    .social-links {
        grid-column: span 2;
    }

    .footer-grid {
        row-gap: 1rem;
    }

    .footer-adress {
        grid-column: span 2;
    }
}
/*********************************************** SMALL SCREENS **************************************/
