:root {
    interpolate-size: allow-keywords;

    --flow: 1rem;

    /********** Font sizes variables *******/
    --fs-100: clamp(0.64rem, 0.7134rem + -0.0947vw, 0.6944rem);
    --fs-200: clamp(0.8rem, 0.8449rem + -0.058vw, 0.8333rem);
    --fs-300: clamp(1rem, 1rem + 0vw, 1rem);
    --fs-400: clamp(1.2rem, 1.1826rem + 0.087vw, 1.25rem);
    --fs-500: clamp(1.44rem, 1.3974rem + 0.213vw, 1.5625rem);
    --fs-600: clamp(1.728rem, 1.6497rem + 0.3915vw, 1.9531rem);
    --fs-700: clamp(2.0736rem, 1.9457rem + 0.6397vw, 2.4414rem);
    --fs-800: clamp(2.4883rem, 2.2923rem + 0.9799vw, 3.0518rem);


    /********** Colors light variables *******/
    --clr-text: hsl(150, 23%, 5%);
    --clr-background: #ffffff;

    /********** Colors dark variables *******/
    --clrd-text: hsl(150, 23%, 95%);
    --clrd-background: hsl(135, 40%, 2%);
    --clrd-primary: hsl(146, 59%, 46%);
    --clrd-secondary: hsl(146, 66%, 17%);
    --clrd-accent: hsl(35, 97%, 55%);
    
    /********** Earth colors variables *******/
    --clr-earth-red: hsl(360, 40.7%, 61.2%);
    --clr-earth-purple: hsl(272, 40.7%, 61.2%);
    --clr-earth-blue: hsl(237, 40.7%, 61.2%);
    --clr-earth-cyan: hsl(185, 40.7%, 61.2%);
    --clr-earth-green: hsl(129, 40.7%, 61.2%);
    --clr-earth-yellow: hsl(56, 40.7%, 61.2%);

    /********** Pastel colors variables *******/
    --clr-pastel-red: hsl(360, 71.6%, 85.9%);
    --clr-pastel-purple: hsl(272, 71.6%, 85.9%);
    --clr-pastel-blue: hsl(237, 71.6%, 85.9%);
    --clr-pastel-cyan: hsl(185, 71.6%, 85.9%);
    --clr-pastel-green: hsl(129, 71.6%, 85.9%);
    --clr-pastel-yellow: hsl(56, 71.6%, 85.9%);


    --content-ratio: 1.25;
}

/*********************************************** RESET CSS **************************************/
* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    scrollbar-width: normal;
    scrollbar-color: var(--clr-earth-green) var(--clr-pastel-yellow);

    font-optical-sizing: auto;
    font-family: "Poppins", serif;
    font-variation-settings: "wdth" 100;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 1rem;
    background: var(--clr-pastel-yellow);
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: var(--clr-earth-green);
}

body {
    min-height: 100dvh;
    font-size: var(--fs-300);
}

h1, h2, h3 {
    line-height: 1.2;
    font-weight: bold;
    text-wrap: balance;
}

p, span, li {
    line-height: 1.8;
    text-wrap: pretty;
    width: min(65ch, 100%);
}

img, video, svg, picture {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--clr-text);
}

a:visited {
    color: var(--clr-text);
}

button { 
    border: none;
    cursor: pointer;
    background: none;
}

input, label, textarea, select {
    border: none;
    outline: none;
}
/*********************************************** RESET CSS **************************************/

/*********************************************** REUSABLE CSS **************************************/
    /************************************ STRUCTURE ******************************/
    .container {
        margin-inline: auto;
        width: min(100% - 3rem, 1400px);
    }

    .flow-xl > * + * {
        margin-top: calc(var(--flow) * 4);
    }

    .flow-lg > * + * {
        margin-top: calc(var(--flow) * 2);
    }

    .flow > * + * {
        margin-top: var(--flow);
    }

    .flow-sm > * + * {
        margin-top: calc(var(--flow) / 2);
    }
    /************************************ STRUCTURE ******************************/


    /************************************ Typographies ******************************/
    .text-xxl {
        font-size: var(--fs-800);
    }

    .text-xl {
        font-size: var(--fs-700);
    }

    .text-brand {
        font-size: var(--fs-600);
    }

    .text-lg {
        font-size: var(--fs-500);
    }

    .text-md {
        font-size: var(--fs-400);
    }

    .text {
        font-size: var(--fs-300);
    }

    .text-sm {
        font-size: var(--fs-200);
    }

    .text-xs {
        font-size: var(--fs-100);
    }

    .text-center {
        text-align: center;
        margin-inline: auto;
    }
    /************************************ Typographies ******************************/

    /************************************ Buttons & Links ******************************/
    .btn {
        padding: .5rem 1rem;
        border-radius: .25rem;
        font-size: var(--fs-300);
    }
    
    .btn-primary {
        background: var(--clr-earth-green);
    }

    .btn-secondary {
        color: var(--clr-earth-red);
        background: var(--clr-background);
        border: 1px solid var(--clr-earth-red);
    }

    .btn-sm {
        padding: .25rem .5rem;
        font-size: var(--fs-400);
    }

    .btn-lg {
        padding: 1rem 2rem;
        font-size: var(--fs-400);
    }

    .btn-xl {
        padding: 1rem 2rem;
        font-size: var(--fs-500);
    }

    .btn:hover {
        border: none;
        color: var(--clr-text);
        background: var(--clr-earth-red);
    }

    .link, .link-alt {
        display: inline-flex;
    }

    .link {
        color: var(--clr-text);
    }

    .link-alt {
        color: var(--clr-earth-red);
    }
    
    :is(.link, .link-alt):hover {
        color: var(--clr-earth-red);
    }
    /************************************ Buttons & Links ******************************/


/*********************************************** REUSABLE CSS **************************************/
#app {
    position: relative;
    overflow-x: hidden;
    color: var(--clr-text);
    background: var(--clr-background);
}

section:where(:not(.hero-section, .blog-all-section)) {
    margin-block: 20rem;
}

/*********************************************** HEADER **************************************/
.header {
    z-index: 1;
    position: sticky;
    inset: 0 0 auto 0;
    background-color: var(--clr-pastel-yellow);
}

.header .container {
    display: flex;
    align-items: center;
    padding-block: 1rem;
    justify-content: space-between;
}

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}

.nav-menu {
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-menu li {
    flex: 0 0 fit-content;
}

.nav-close, .nav-open {
    display: none;
}

.nav-link {
    color: var(--clr-text);

    display: inline-flex;
    font-size: var(--fs-400);
    transition: scale 300ms ease;
}

.nav-link:hover {
    scale: 1.15;
    color: var(--clr-earth-red);
}
/*********************************************** HEADER **************************************/

/*********************************************** FOOTER **************************************/
.footer {
    padding-block: 4rem 2rem;
    background-color: var(--clr-pastel-yellow);
}

.footer-main {
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
}

.footer-grid {
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(calc(175px * var(--content-ratio)), 100%), 1fr));
}

.newsletter-form {
    display: flex;
    padding-left: .5rem;
    border-radius: .5rem;
    background-color: var(--clr-background);
}

.newsletter-form input {
    min-width: 0;
    max-width: 100%;
}
/*********************************************** FOOTER **************************************/


/*********************************************** INDEX PAGE **************************************/

    /*********************************************** HERO **************************************/
    .hero-section {
        padding-block: 4rem;
        background-color: var(--clr-pastel-yellow);
    }

    .hero-section .container {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, calc(350px * var(--content-ratio))), 1fr));        
    }
    

    .hero-content {
        display: flex;
        row-gap: 2rem;
        align-items: start;
        flex-direction: column;
    }
    /*********************************************** HERO **************************************/


    /*********************************************** STATS **************************************/
    .stats-section {
        margin: 0;
        padding-bottom: 5rem;
        background-color: var(--clr-pastel-yellow);
    }

    .stats {
        display: grid;
        gap: 1rem 2rem;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 150px), 1fr));
    }
    /*********************************************** STATS **************************************/


    /*********************************************** HOME **************************************/
    .home-section .container {
        gap: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, calc(350px * var(--content-ratio))), 1fr));
    }

    .home-list {
        gap: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, calc(225px * var(--content-ratio))), 1fr));
    }

    .home-list li {
        display: flex;
        row-gap: 1rem;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        padding: 1rem;
        border-radius: .5rem;
        border: 1px solid var(--clr-earth-green);
    }

    .home-img {
        height: 100%;
    }
    /*********************************************** HOME **************************************/


    /*********************************************** PARTNERS **************************************/
    .partners-section {
        margin-top: 5rem;
    }

    .partners-grid {
        display: grid;
        gap: 2rem 1rem;
        place-items: center;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
    }
    /*********************************************** PARTNERS **************************************/


    /*********************************************** MISSIONS & GOALS **************************************/
    .missions-section {
        padding-block: 5rem;
        background-color: var(--clr-pastel-yellow);
    }

    .missions-grid {
        gap: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, calc(275px * var(--content-ratio))), 1fr));
    }

    .mission {
        padding: 1rem;
        border-radius: .5rem;
        background-color: var(--clr-background);
    }

    .mission:nth-of-type(1){
        box-shadow: 0 0 1px 1px gray,
                    -.5rem -.5rem 0 var(--clr-earth-purple);
    }

    .mission:nth-of-type(2){
        box-shadow: 0 0 1px 1px gray,
                    -.5rem -.5rem 0 var(--clr-earth-cyan);
    }

    .mission:nth-of-type(3){
        box-shadow: 0 0 1px 1px gray,
                    -.5rem -.5rem 0 var(--clr-earth-blue);
    }

    .mission:nth-of-type(4){
        box-shadow: 0 0 1px 1px gray,
                    -.5rem -.5rem 0 var(--clr-earth-yellow);
    }

    .mission:nth-of-type(5){
        box-shadow: 0 0 1px 1px gray,
                    -.5rem -.5rem 0 var(--clr-earth-green);
    }
    
    .mission:nth-of-type(6){
        box-shadow: 0 0 1px 1px gray,
                    -.5rem -.5rem 0 var(--clr-earth-red);
    }

    .mission-img {
        width: 20%;
    }
    /*********************************************** MISSIONS & GOALS **************************************/


    /*********************************************** CONTACT **************************************/
    .contact-section {
        background-color: var(--clr-pastel-yellow);
    }

    .contact-section .container {
        padding-block: 5rem;
    }

    .contact-grid {
        gap: 2rem;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
    }

    .contact {
        display: flex;
        column-gap: 1rem;

        padding: 2rem 1rem;
        box-shadow: 0 0 5px 0 lightgray;
        background-color: var(--clr-background);
        border-bottom: 1rem solid var(--clr-earth-green);
    }

    .contact-header {
        display: flex;
        row-gap: 1rem;
        align-items: center;
        flex-direction: column;
    }

    .contact-img-container {
        width: max(200px, 20%);
    }

    .contact-infos {
        gap: 1rem;
        display: flex;
    }

    .contact-photo img {
        width: 100px;
        border-radius: 50%;
    }
    /*********************************************** CONTACT **************************************/

    /*********************************************** FAQ **************************************/
    .faq-section .container {
        max-width: 900px;
    }

    .faq-header {
        display: flex;
        row-gap: 1rem;
        align-items: center;
        flex-direction: column;
    }

    .faq-img-container {
        width: max(200px, 25%);
    }

    .faq-list {
        display: grid;
        flex-direction: column;
    }

    .faq-item {
        overflow: hidden;
        padding-block: 1.5rem;
        border-bottom: 1px solid lightgray;
    }

    .faq-item::details-content {
        block-size: 0;
        transition: block-size 500ms;
    }

    .faq-item[open]::details-content {
        block-size: auto;
    }

    .faq-question {
        font-weight: 600;
        margin-inline-start: 1rem;
        list-style-position: outside;
    }

    .faq-question::marker {
        color: gray;
    }
    /*********************************************** FAQ **************************************/


/*********************************************** INDEX PAGE **************************************/


/*********************************************** ABOUT PAGE **************************************/
:is(.about-section, .context-section, .structuration-section, .service-center-section) .container {
    display: grid;
    gap: 3rem 2rem;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(min(calc(350px * var(--content-ratio)), 100%), 1fr));
}

:is(.about-section, .context-section, .structuration-section, .service-center-section) img {
    border-radius: .25rem;
}
/*********************************************** ABOUT PAGE **************************************/

/*********************************************** BLOG PAGE **************************************/
.blog-all-section {
    margin-block: 5rem 10rem;
}

.blog-grid, .projects-grid {
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, calc(255px * var(--content-ratio))), 1fr));
}

:is(.post-img, .project-img) {
    width: 100%;
    aspect-ratio: 3/2;
}

.post, .project{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px 1px #a3a3a3;
}

.post-infos, .project-infos {
    padding: 2rem;
    border-radius: 0 0 .5rem .5rem;
    
    flex-grow: 1;
    display: flex;
    row-gap: 1rem;
    align-items: start;
    flex-direction: column;
}

.post-description, .project-description {
    line-clamp: 3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.post-btn, .project-btn {
    align-self: end;
    margin-top: auto;
}
/*********************************************** BLOG PAGE **************************************/



/*********************************************** MEMBERSHIP PAGE **************************************/
.membership-section {
    margin-block: 8rem;
}

.membership-header {
    display: flex;
    row-gap: 2rem;
    align-items: center;
    flex-direction: column;
}

.membership-img-container {
    width: max(200px, 20%);
}

.form {
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid var(--clr-earth-green);
}

.form-grid {
    display: grid;
    gap: 1rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(calc(275px * var(--content-ratio)), 100%), 1fr));
}

.form-group {
    display: flex;
    row-gap: .25rem;
    flex-direction: column;
}

.form-group-alt {
    display: flex;
    column-gap: .5rem;
    align-items: center;
}

.form-group label {
    font-size: var(--fs-300);
}

.form-group :is(input, textarea, select){
    border-radius: .5rem;
    padding: .25rem .75rem;
    background-color: var(--clr-background);
    border: 1px solid var(--clr-earth-green);
}

.form-group :is(input, textarea, select):focus {
    border: 1px solid var(--clr-earth-red);
}

.form-group:has(#description_activite){
    grid-column: 1 / -1;
}

/*********************************************** MEMBERSHIP PAGE **************************************/



/*********************************************** SMALL SCREENS **************************************/
@media (width < 600px){
    .nav-menu {
        align-items: center;
        justify-content: center;
        flex-direction: column;

        height: 100dvh;
        inset: 0 0 auto 0;
        position: absolute;
        translate: 0 -100%;
        transition: translate 300ms ease;
        background-color: var(--clr-pastel-green);
    }

    .nav-menu.open {
        translate: 0 0;
    }

    .nav-item, .nav-close {
        width: fit-content;
    }

    .nav-close, .nav-open {
        display: inline-flex;
    }

    .icons {
        display: none;
    }
    
    .about-content :is(h2, p){
        text-align: center;
    }

    .social-links {
        order: 3;
    }

    .footer-grid {
        row-gap: 3rem;
    }

    .footer-adress {
        order: 4;
        grid-column: span 2;
    }
}

@media (width < 900px){
    :root {
        --content-ratio: 1;
    }
}

/*********************************************** SMALL SCREENS **************************************/
