<section class="blog-all-section">
    <div class="container flow-lg">
        <h2 class="text-lg text-center">All posts</h2>

        <div class="blog-grid">
            <article class="post flow-sm">
                <div class="post-img-container">
                    <img src="https://placehold.co/300x200/gray/gray" alt="" class="post-img">
                </div>
                <div class="post-infos">
                    <span class="post-date text-xs">Jeudi 16 novembre 2023</span>
                    <h2 class="text-md">Lorem ipsum dolor sit</h2>
                    <p class="text-sm">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nostrum itaque molestiae veritatis neque modi eum atque repudiandae earum consequatur.
                    </p>
                </div>
            </article>

            <article class="post flow-sm">
                <div class="post-img-container">
                    <img src="https://placehold.co/300x200/gray/gray" alt="" class="post-img">
                </div>
                <div class="post-infos">
                    <span class="post-date text-xs">Jeudi 16 novembre 2023</span>
                    <h2 class="text-md">Lorem ipsum dolor sit</h2>
                    <p class="text-sm">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nostrum itaque molestiae veritatis neque modi eum atque repudiandae earum consequatur.
                    </p>
                </div>
            </article>

            <article class="post flow-sm">
                <div class="post-img-container">
                    <img src="https://placehold.co/300x200/gray/gray" alt="" class="post-img">
                </div>
                <div class="post-infos">
                    <span class="post-date text-xs">Jeudi 16 novembre 2023</span>
                    <h2 class="text-md">Lorem ipsum dolor sit</h2>
                    <p class="text-sm">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nostrum itaque molestiae veritatis neque modi eum atque repudiandae earum consequatur.
                    </p>
                </div>
            </article>

            <article class="post flow-sm">
                <div class="post-img-container">
                    <img src="https://placehold.co/300x200/gray/gray" alt="" class="post-img">
                </div>
                <div class="post-infos">
                    <span class="post-date text-xs">Jeudi 16 novembre 2023</span>
                    <h2 class="text-md">Lorem ipsum dolor sit</h2>
                    <p class="text-sm">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nostrum itaque molestiae veritatis neque modi eum atque repudiandae earum consequatur.
                    </p>
                </div>
            </article>

            <article class="post flow-sm">
                <div class="post-img-container">
                    <img src="https://placehold.co/300x200/gray/gray" alt="" class="post-img">
                </div>
                <div class="post-infos">
                    <span class="post-date text-xs">Jeudi 16 novembre 2023</span>
                    <h2 class="text-md">Lorem ipsum dolor sit</h2>
                    <p class="text-sm">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nostrum itaque molestiae veritatis neque modi eum atque repudiandae earum consequatur.
                    </p>
                </div>
            </article>

            <article class="post flow-sm">
                <div class="post-img-container">
                    <img src="https://placehold.co/300x200/gray/gray" alt="" class="post-img">
                </div>
                <div class="post-infos">
                    <span class="post-date text-xs">Jeudi 16 novembre 2023</span>
                    <h2 class="text-md">Lorem ipsum dolor sit</h2>
                    <p class="text-sm">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nostrum itaque molestiae veritatis neque modi eum atque repudiandae earum consequatur.
                    </p>
                </div>
            </article>
        </div>
    </div>
</section>