<section class="blog-all-section">
    <div class="container flow-lg">
        <h2 class="text-lg">Tous les articles</h2>

        <div class="blog-grid">
            <article class="post">
                <div class="post-img-container">
                    <img src="/assets/img/blog/agriculture-durable.jpg" alt="Image d'article 1" 
                        width="300" height="200" class="post-img">
                </div>
                <div class="post-infos">
                    <span class="post-date text-xs">Jeudi 16 novembre 2023</span>
                    <h2 class="text-md">L'agriculture durable : un enjeu majeur pour l'avenir</h2>
                    <p class="post-description text">
                        L'agriculture durable devient une priorité dans la lutte contre le changement climatique. Découvrez comment les pratiques agricoles écologiques contribuent à préserver la biodiversité tout en garantissant une production alimentaire suffisante.
                    </p>
                    <a href="#" class="btn btn-primary post-btn">Lire</a>
                </div>
            </article>

            <article class="post">
                <div class="post-img-container">
                    <img src="/assets/img/blog/agriculture-technologies.jpg" alt="Image d'article 2" 
                        width="300" height="200" class="post-img">
                </div>
                <div class="post-infos">
                    <span class="post-date text-xs">Vendredi 17 novembre 2023</span>
                    <h2 class="text-md">Les nouvelles technologies au service de l'agriculture</h2>
                    <p class="post-description text">
                        Les technologies modernes, telles que les drones, l'IA et l'agriculture de précision, révolutionnent les méthodes de culture. Ces innovations permettent une gestion optimisée des ressources et une meilleure productivité tout en réduisant l'impact environnemental.
                    </p>
                    <a href="#" class="btn btn-primary post-btn">Lire</a>
                </div>
            </article>

            <article class="post">
                <div class="post-img-container">
                    <img src="/assets/img/blog/cultures-resilientes.jpg" alt="Image d'article 3" 
                        width="300" height="200" class="post-img">
                </div>
                <div class="post-infos">
                    <span class="post-date text-xs">Samedi 18 novembre 2023</span>
                    <h2 class="text-md">Les cultures résilientes face au changement climatique</h2>
                    <p class="post-description text">
                        Avec l'augmentation des phénomènes climatiques extrêmes, les agriculteurs doivent s'adapter. Focus sur les cultures résistantes à la sécheresse et à la chaleur, et comment elles peuvent aider à sécuriser les récoltes dans un monde en mutation.
                    </p>
                    <a href="#" class="btn btn-primary post-btn">Lire</a>
                </div>
            </article>

            <article class="post">
                <div class="post-img-container">
                    <img src="/assets/img/blog/agriculture-biologique.jpg" alt="Image d'article 4" 
                        width="300" height="200" class="post-img">
                </div>
                <div class="post-infos">
                    <span class="post-date text-xs">Dimanche 19 novembre 2023</span>
                    <h2 class="text-md">L'agriculture biologique : une alternative aux méthodes conventionnelles</h2>
                    <p class="post-description text">
                        L'agriculture biologique continue de gagner en popularité en raison de ses avantages pour la santé et l'environnement. Découvrez les principes de cette méthode de culture et les défis auxquels elle fait face pour se développer à grande échelle.
                    </p>
                    <a href="#" class="btn btn-primary post-btn">Lire</a>
                </div>
            </article>

            <article class="post">
                <div class="post-img-container">
                    <img src="/assets/img/blog/gestion-de-leau-agriculture.jpg" alt="Image d'article 5" 
                        width="300" height="200" class="post-img">
                </div>
                <div class="post-infos">
                    <span class="post-date text-xs">Lundi 20 novembre 2023</span>
                    <h2 class="text-md">La gestion de l'eau en agriculture : vers une utilisation plus efficace</h2>
                    <p class="post-description text">
                        L'eau est une ressource précieuse en agriculture. Comment optimiser son utilisation face aux pénuries et aux périodes de sécheresse prolongées ? Voici des solutions comme l'irrigation de précision et la collecte des eaux de pluie.
                    </p>
                    <a href="#" class="btn btn-primary post-btn">Lire</a>
                </div>
            </article>

            <article class="post">
                <div class="post-img-container">
                    <img src="/assets/img/blog/agroforesterie.webp" alt="Image d'article 6" 
                        width="300" height="200" class="post-img">
                </div>
                <div class="post-infos">
                    <span class="post-date text-xs">Mardi 21 novembre 2023</span>
                    <h2 class="text-md">L'agroforesterie : quand l'agriculture et les arbres collaborent</h2>
                    <p class="post-description text">
                        L'agroforesterie consiste à associer les cultures et les arbres sur une même parcelle de terre. Cette méthode améliore la fertilité des sols, la biodiversité et la gestion de l'eau, tout en augmentant la rentabilité des exploitations agricoles.
                    </p>
                    <a href="#" class="btn btn-primary post-btn">Lire</a>
                </div>
            </article>

            <article class="post">
                <div class="post-img-container">
                    <img src="/assets/img/blog/pratiques-agricoles-regeneratives.png" alt="Image d'article 7" 
                        width="300" height="200" class="post-img">
                </div>
                <div class="post-infos">
                    <span class="post-date text-xs">Mercredi 22 novembre 2023</span>
                    <h2 class="text-md">Les pratiques agricoles régénératives : restaurer les sols pour l'avenir</h2>
                    <p class="post-description text">
                        Les pratiques agricoles régénératives visent à restaurer les sols dégradés et à améliorer leur santé. Découvrez comment ces techniques permettent d'augmenter la biodiversité et de stocker du carbone, tout en réduisant les besoins en engrais chimiques.
                    </p>
                    <a href="#" class="btn btn-primary post-btn">Lire</a>
                </div>
            </article>

            <article class="post">
                <div class="post-img-container">
                    <img src="/assets/img/blog/revolution-des-semences.webp" alt="Image d'article 8" 
                        width="300" height="200" class="post-img">
                </div>
                <div class="post-infos">
                    <span class="post-date text-xs">Jeudi 23 novembre 2023</span>
                    <h2 class="text-md">La révolution des semences : des variétés plus résistantes et performantes</h2>
                    <p class="post-description text">
                        L'innovation dans les semences permet de développer des variétés plus résistantes aux maladies, aux sécheresses et aux conditions climatiques extrêmes. Découvrez comment ces semences peuvent contribuer à la sécurité alimentaire mondiale.
                    </p>
                    <a href="#" class="btn btn-primary post-btn">Lire</a>
                </div>
            </article>

            <article class="post">
                <div class="post-img-container">
                    <img src="/assets/img/blog/circuits-courts-agriculture.jpg" alt="Image d'article 9" 
                        width="300" height="200" class="post-img">
                </div>
                <div class="post-infos">
                    <span class="post-date text-xs">Vendredi 24 novembre 2023</span>
                    <h2 class="text-md">Les circuits courts : une réponse aux défis de l'agriculture moderne</h2>
                    <p class="post-description text">
                        Les circuits courts permettent de rapprocher les producteurs et les consommateurs. Cette approche réduit les coûts logistiques, soutient l'économie locale et garantit une production alimentaire plus fraîche et durable.
                    </p>
                    <a href="#" class="btn btn-primary post-btn">Lire</a>
                </div>
            </article>
        </div>
    </div>
</section>
